<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Knoodle » In surveys we trust</title>
    <link rel="stylesheet" media="all" href="{{ asset('bundles/knpknoodle/css/style.css') }}" />
</head>
<body>
    <div id="header">
        <div class="wrap">
            <h1>
                <a href="{{ url('knoodle') }}">
                    <img src="{{ asset('bundles/knpknoodle/images/logo.png') }}" alt="Knoodle" />
                </a>
            </h1>
            <h2>In surveys we trust</h2>
     
            <form id="search" method="get" action="{{ path('knoodle_search') }}">
                <input type="text" name="q" value="{% block search_query %}{% endblock %}" />
                <button type="submit">search</button>
            </form>
        </div>
    </div>
    <div id="menu">
        <div class="wrap">
           {{ knp_menu_render('KnpKnoodleBundle:Builder:mainMenu') }}
        </div>
    </div>
    <div id="content">
        <div class="wrap">

            {% if app.session.flashBag %}
                <div id="flashes">
                    {% for type, flashes in app.session.flashBag %}
                        {% for message in flashes %}
                        <div class="{{ type }}">
                            <div class="wrap">
                                {{ message }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer" class="wrap">
        <p>Knoodle - In surveys we trust.</p>
        {% render 'KnpKnoodleBundle:Default:lastSurveys' with {'limit': 5} %}

        {% render 'KnpKnoodleBundle:Default:rssReader' %}
    </div>
</body>
</html>