{% extends 'KnpKnoodleBundle::layout.html.twig' %}
 
{% block content %}
    <div id="security-login">
        <h3>Login</h3>
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}
 
        <form action="{{ path('knoodle_login_check') }}" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="_password" />
            </div>
            <button type="submit" class="button">login</button>
        </form>
    </div>
{% endblock %}