{% extends 'KnpKnoodleBundle::layout.html.twig' %}
 
{% block content %}
    <div id="answer-new">
        <h3>New Answer</h3>
        <form method="post" action="{{ path('knoodle_answer_create', {'surveyId': survey.id}) }}" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
 
            <fieldset class="author">
                <legend><h4>Author</h4></legend>
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
            </fieldset>
 
            {% for choice in form.choices %}
                <fieldset>
                    <legend><h4>{{ form_label(choice) }}</h4></legend>
                    {{ form_errors(choice) }}
                    {{ form_widget(choice) }}
                </fieldset>
            {% endfor %}
 
            {{ form_rest(form) }}
 
            <button type="submit" class="button">Validate</button>
            or
            <a href="{{ path('knoodle_survey', {'id': survey.id }) }}">cancel</a>
        </form>
    </div>
{% endblock %}