{% extends 'KnpKnoodleBundle::layout.html.twig' %}
 
{% block content %}
    <div id="survey-show">
        <h3>{{ survey.name }}</h3>
        <div class="meta">
            Added by <span class="author"><span class="author">{{ survey.authorFirstname }} {{ survey.authorLastname }}</span></span> on
            <span class="date">{{ survey.createdAt|date('l, j F Y @ H:i') }}</span>
        </div>
        <div class="questions">
            {% for question in survey.questions %}
                <div class="question">
                    <h4>{{ question.sentence }}</h4>
                    <ul class="choices">
                        <li class="choice">{{ question.firstchoice }}</li>
                        <li class="choice">{{ question.secondchoice }}</li>
                        <li class="choice">{{ question.thirdchoice }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <a class="button fleft" href="{{ path('knoodle') }}">← Back to list</a>
        <a class="button fright" href="{{ path('knoodle_answer_new', {'surveyId': survey.id }) }}">Answer this survey →</a>
    </div>
{% endblock %}