{% for survey in surveys %}
    <div class="survey">
        <a href="{{ path('knoodle_survey', {'id': survey.id}) }}" class="name">{{ survey.name }}</a>
        <div class="meta">
            Added by
            <span class="author">{{ survey.authorFirstname}} {{ survey.authorFirstname}}</span>
            on
            <span class="date">{{ survey.createdAt|date('l, j F Y @ H:i') }}</span>
        </div>
    </div>
{% endfor %}