<?xml version="1.0"?>
<surveys>
    {% for survey in surveys %}
        <survey>
            <name>{{ survey.name }}</name>
            <author>{{ survey.authorFirstname }} {{ survey.authorLastname }}</author>
            <url>{{ url('knoodle_survey', {'id': survey.id}) }}</url>
        </survey>
    {% endfor %}
</surveys>