{% extends 'KnpKnoodleBundle::layout.html.twig' %}
 
{% block content %}
    <div id="survey-list">
        <h3>Surveys by Popularity</h3>
        {% include 'KnpKnoodleBundle:Default:surveys_list.html.twig' %}
    </div>
{% endblock %}