{% extends 'KnpKnoodleBundle::layout.html.twig' %}
 
{% block search_query %}{{ q }}{% endblock %}
 
{% block content %}
    <div id="survey-search">
        <h3>Results for "{{ q }}"</h3>
        {% include 'KnpKnoodleBundle:Default:surveys_list.html.twig' %}
    </div>
{% endblock %}