Survey: <info>{{ survey }}</info>
 
{% for question in survey.questions %}
    Question: <info>{{ question }}</info>
 
        - {{ question.firstChoice }}: <info>{{ question.numFirstChoiceAnswers }}</info>
        - {{ question.secondChoice }}: <info>{{ question.numSecondChoiceAnswers }}</info>
        - {{ question.thirdChoice }}: <info>{{ question.numThirdChoiceAnswers }}</info>
 
{% endfor %}